html{
  min-width: 576px;
  font-size: 10pt;
}

body{
  background-color: white !important;   /* prevent slider from changing styles */
  color: black !important; /* prevent slider from changing styles */
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  min-width: 576px;
  overflow: hidden;
  background-color: #e5e6ea;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  text-transform: uppercase;
}

.navbar a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar img {
  float:left;
  margin-left: 30px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.topnav {
  width: 100%;
  position: relative;
}

.searchForm {
  position: absolute;
  top:0;
  width: 100%;
  padding-top: 15%;
  font-family: 'Raleway', sans-serif;

}

.searchBar {
  height: 50px;
}

.searchBar select {
  box-sizing: border-box;
  height: 50px;
  border: 0;
  padding: 9px;
  border-radius: 7px 0px 0px 7px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.searchBar input {
  box-sizing: border-box;
  height: 50px;
  border: 0;
  padding: 10px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.searchBar button {
  box-sizing: border-box;
  height: 50px;
  width: 120px;
  font-size: 10px;
  padding: 12px;
  border: 0;
  background-color: #008CBA;
  color: white;
  border-radius: 0px 7px 7px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 740px) {
  .bgImg {
    height: 400px;
  }

  .twoBtns {
    bottom: 30px !important;
  }

  .navbar {
    font-size: 10pt;
  }

  .navbar a {
    padding: 10px !important;
    padding-top: 25px !important;
  }

}


.twoBtns {
  position: absolute;
  bottom: 60px;
  z-index: 2;
  width: 100%;
}

.btnOne, .btnTwo {
  display: inline-block;
  height: 50px;
  background-color: white;
  opacity: 0.8;
  vertical-align: top;
  line-height: 50px;
  padding: 0 20px 0 50px;
  position: relative;
}

.btnOne .img1 {
  position: absolute;
  left: 18px;
  top: 13px;
}

.btnTwo .img2 {
  position: absolute;
  left: 18px;
  top: 8px;
}

.btnTwo {
  margin-left: 10px;
}

.img1 {
  display: inline-block;
  height: 22px;
  width: 22px;
  background-image: url(./materials/categories-img.png);
  background-size: cover;
}

.img2 {
  display: inline-block;
  height: 35px;
  width: 20px;
  background-image: url(./materials/pointer-img.png);
  background-size: cover;
}

.greenText {
  color: green;
}

.searchForm h3 {
    font-weight: 100;
}

.main {
  margin-top: 30px;
  font-weight: 100;
  margin-bottom: 30px;
}

.main2 {
  padding-top: 10px;
  font-weight: 100;
  padding-bottom: 10px;
  background-color: #4dadbb;
}

.bigText {
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 0;
}

.smallText {
  font-size: 10pt;
}

.bigText2 {
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 0;
  color: white;
}

.smallText2 {
  font-size: 10pt;
  color: white;
}

.imagesCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15% 0 15%;
}

.clear {
  clear: both;
}

div.imgCont {
  margin: 20px;
  border: 1px solid #ccc;
  width: 180px;
  flex: 0 1 25%;
}

div.imgCont:hover {
  border: 1px solid #777;
}

div.imgCont img {
  width: 80%;
  height: auto;
}

div.desc {
  padding: 9px;
  text-align: center;
}

.allProd {
  color: #4dadbb;
}

.allProdLink {
  padding: 10px 80px 20px 80px;
  position: relative;
}

.reviewSlider {
  background-color: #4dadbb;
  height: 500px;
  margin: 0;
  Padding: 0;
}

.review {
  padding-top: 50px;
  width: 600px;
  height: 370px;
  border-radius:40px;
}

.anotherDiv {
  position:relative;
  background-color: white;
  border-radius:25px;
  height:90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.review img {
  border-radius: 100%;
  border: 7px solid white;
  height: 100px;
  width: 100px;
  position: absolute;
  top: -18%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.reviewText {
  box-sizing: border-box;
  text-align: justify;
  padding-top: 15px;
}

.reviewBottomText {
  position: relative;
  margin: -12%;
}

.reviewNames {
  color: #4dadbb;
  font-weight: bold;
  font-size: 11pt;
}

.reviewRole {
  color: #b8b8ba;
}

.footerMenu {
  background-color: #323232;
  min-width: 576px;
  width: 100%;
}

.footerMenu img {
  padding-top: 20px;
  width:55px;
}

.navbar {
  min-width: 576px;
  overflow: hidden;
  background-color: #e5e6ea;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  text-transform: uppercase;
}

.footerHrefs a {
  text-transform: uppercase;
  font-size: 9pt;
  float: center;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.finalText {
  color: white;
  font-size: 9pt;
  margin: 0;
  padding: 10px;
  background-color: black;
}

.react-3d-carousel .slider-container .slider-content .slider-single div.slider-single-content {
  box-shadow: none;
  display: flex;
  justify-content: center;
}
/* correcting 3rd party slider styling to match project */

.gradientDiv {
  height: 4px;
  width: 100%;
  background: linear-gradient(to right,#7e1e65,#745fa4,#75a4ca,#aeb097,#e6b14e);
}

.outterContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  background-color: #4dadbb;
}

.feedbackFormGroup {
  width: 100%;
  margin: 15rem auto 5rem;
  text-overflow: ellipsis;
  outline: 0;
  box-sizing: border-box;
}

.feedbackFormGroup h3 {
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-align: center;
    margin: 5px 0 40px;
    text-transform: inherit;
    text-transform: uppercase;
    padding: 0 100px;
}

.feedbackForm {
  height: 300px;
  opacity: 5%;
  Padding: 0;
  margin: 0 auto;
  max-width: 100%;
  width: 28.75rem;
}

.twoFields {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
  justify-content: space-between;
  border-radius: 3px;
}

.field input{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-right: 1em;
  display: block;
  font-size: 14px;
  color: grey;
  opacity: 0.5;
  border-radius: 10px;
  padding: .67857143em 1em;
  border: 1px solid white;
}

.feedbackFormGroup button {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 14px;
  color: black;
  opacity: 0.5;
  margin: auto;
  border-radius: 20px;
  padding: .67857143em 1em;
  border: 1px solid white;
}

.feedbackFormGroup button:hover {
  background-color: #323232;
}

.textMessage textarea {
  height: 12em;
  min-height: 8em;
  max-height: 24em;
  width: 100%;
  resize: none;
  margin-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-right: .5em;
  display: block;
  font-size: 14px;
  color: grey;
  opacity: 0.5;
  border-radius: 10px;
  padding: .67857143em 1em;
  border: 1px solid white;
}
